extends layout

block content

  h1.page-header.titlee.header Login
  p.padding Zone Administrative : login
  form(method='post', action='')
    .form-group
    label.padding Username
    input.form-control(name='username', type='text', placeholder='entrer votre nom')
    label.padding password
    input.form-control(name='password', type='password', placeholder='entrer votre password')
    input(type='submit', name='submit',value='connection')
